<a href="https://colab.research.google.com/github/WanyaKruk/FirstPancake/blob/main/FirstPancake1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Первый блин)

In [3]:
print  ("Hi WORLD!")

Hi WORLD!

In [4]:
#Возведение целого числа в квадрат 1

In [5]:
def xx (a):
  return (a * a)
xx (1234)

1522756

In [6]:
#Возведение целого числа в квадрат 2

In [7]:
def x2 (a):
 return (a ** 2)
x2 (12)

144

In [8]:
#Возведение целого числа в квадрат 3

In [9]:
a = 123
квадрат = a * a
print ('квадрат числа', a, 'равен', квадрат)

квадрат числа 123 равен 15129