<a href="https://colab.research.google.com/github/WanyaKruk/FirstPancake/blob/main/FirstPancake1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Первый блин)

In [ ]:
print  ("Hi WORLD!")

Hi WORLD!

In [ ]:
#Возведение целого числа в квадрат 1

In [ ]:
def xx (a):
  return (a * a)
xx (1234)

1522756

In [ ]:
#Возведение целого числа в квадрат 2

In [ ]:
def x2 (a):
 return (a ** 2)
x2 (1234)

1522756

In [ ]:
#Возведение целого числа в квадрат 3

In [ ]:
a = 123
квадрат = a * a
print ('квадрат числа', a, 'равен', квадрат)

квадрат числа 123 равен 15129